*.user
*.obj
*.aps
*.pch
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs/
*.idb
vc*.pdb
*.o
*.a
Doc/SDEngine/
LibraryProject/Windows/Build/
UnitTest/Windows/Build/
LibraryProject/Android/Build/
UnitTest/Android/Build/
UnitTest_GraphicsAPI/Windows/Build/
UnitTest_GraphicsAPI/Android/Build/
Bin/