*.user
*.obj
*.aps
*.pch
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs/
*.idb
vc*.pdb
*.o
*.a
.idea/
Doc/SDEngine/
LibraryProject/Windows/Build/
UnitTest/Windows/Build/
LibraryProject/Android/Build/
UnitTest/Android/build
UnitTest_GraphicsAPI/Windows/Build/
UnitTest_GraphicsAPI/Android/build/
Bin/
UnitTest/Android/unittest_featuredeveloping/libs/
UnitTest_GraphicsAPI/Android/unittest_graphicsapi/libs/
